{% extends 'base.html' %}

{% block content %}
    <div class="snap-center container bg-emerald-900 rounded-lg mx-auto mt-48 flex flex-col justify-center" style="width: 900px; height: 600px; box-shadow: 0 0 0 .5em #fff, 0 0 0 1em #064E3B, 0 0 0 1.5em #fff, 0 0 0 4em #064E3B, 0 0 0 4.1em #000;">
        <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8 place-self-center">
            <div class="mx-auto max-w-2xl text-center align-middle flex flex-col justify-center">
                <h2 class="font-semibold leading-7 text-white">Create your own character!</h2>
                <p class="mt-1 text-sm leading-6 text-gray-400">What will your characters say?</p>
                {% include 'character_form.html' %}
            </div>
        </div>
    </div>
    <div class="container" style="position: relative; top: 70vh">
        <div class="mx-auto grid grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 md:grid-cols-3 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2 mb-72">
            {% for character in characters %}
                <div class="relative character-card snap-center p-7 border border-4 border-blue-900 rounded-3xl ring-4 ring-blue-600 ring-offset-4 ring-offset-indigo-800">
                    <div class="-mt-5 speech bg-gray-100 text-3xl rounded-3xl text-gray-900 transform translate-y-5 p-5 shadow-inner shadow-gray-700 z-50" style="font-family: 'Comic Book Commando', sans-serif;">{{ character.quote }}</div>
                    <span class="float-right relative w-10 h-10 bottom-0 right-20 transform -translate-y-15 rotate-45 bg-gray-100 z-10"></span>
                    <img src="{{ character.image }}" alt="{{ character.super_name }}" class="aspect-[3/2] w-full rounded-md object-cover z-0">
                    <h2 class="mt-6 text-3xl font-semibold leading-8 text-indigo-400">{{ character.super_name }}</h2>
                    <p class="mt-3 text-base text-blue-600">Alter Ego:</p>
                    <h3 class="text-xl font-semibold">{{ character.name }}</h3>
                    <ul class="mt-6 flex gap-x-6">
                        Super Powers:
                        {% for power in character.super_power.split(', ') %}
                        <li class="text-yellow-200 hover:text-red-500">{{power}}</li>
                        {% endfor %}
                    </ul>
                    <p class="mt-4 text-base leading-7 text-emerald-100">{{ character.description }}</p>
                    <p class="mt-6 text-base text-orange-500 hover:text-cyan-400">Comic book appearance(s): {{ character.comics_appeared_in }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}